@model Site_De_Swiss_UMEF.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image_article)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.image_article)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.icons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.icons)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_categorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_categorie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.create_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.create_at)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.update_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.update_at)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_article">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
